.active{
    text-decoration: underline;
    color: #A00000;
}
li a{
    color: black;
}
header{
    width: 1920px;
    padding: 50px;
}

.inline-block{
    display: inline-block;
}
.logo{
    display: inline-block;
}
.nav-li{
    justify-content: space-between;
    margin-right: 100px;
    vertical-align: 170%;
}

.cover{
    object-fit: cover;
    width: 60%;
    
}
h2{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
}
h3{
    font-size: 20px;
}
.articleSection{
    display: flex;
    padding: 15px;
    height: 100px;
    width: 800px;
}

}
.container {
    
    width: 1920px;
    padding: 50px;
    display: grid;
    background:pink;
}

article img{
    width: 400px;
    display: inline-block;
}
.articleText{
    display: inline-block;
}


